.header {
}

.header .header-picture {
    background: url(../../../static/images/mario_ann.png) 
                no-repeat;
    width: 80px;
    height: 80px;
    background-size: cover;
}

.header .text {
    font: x-large sans-serif;
}

.header .header-picture, 
.header .text {
    display: inline-block;
    vertical-align: bottom;
}
