<sidebar-content *ngIf="path == '/'" [config]='homeConfig'>hello</sidebar-content>
<div *ngIf='path == "/links"' class="grid-x grid-padding-x">
    <div class="cell medium-6 ">
        <h3 style="text-align: center;">Professional Links</h3>
        <ul>
            <li><a href="https://github.com/garrett-is-a-swann">Github</a></li>
            <li><a href="https://www.linkedin.com/in/garrett-swann-bb324710a">Linkedin</a></li>
            <li><a href="http://www.build.com/">Build</a></li>
        </ul>
    </div>
    <div class="cell medium-6 ">
        <h3 style="text-align: center;">Personal Links</h3>
        <ul>
            <li><a href="https://www.twitch.tv/chrynde">Twitch</a> - I stream my Mario AI here</li>
            <li><a href="https://www.twitch.tv/videos/109799417">mArIo</a> - Evolving past the 1-1 Goomba Pit</li>
            <li><a href="https://sanctum.geek.nz/arabesque/vim-koans/">Vim Koans</a></li>
            <li><a href="https://learnxinyminutes.com/">LearnXinY</a></li>
            <li><a href="https://maxschimm.garrettswann.me/">Map your music genres with this tool I built</a></li>
        </ul>
    </div>
</div>
<sidebar-content *ngIf="path == '/about-me'" [config]='aboutConfig'>hello</sidebar-content>

<div *ngIf="path == '/resume'" class="grid-x grid-padding-x">
    <!-- Sidebar -->
    <div class="cell medium-6 ">
        <a href="assets/2017.pdf" style="text-align: center;">Resume as pdf</a>
    </div>
    <div class="cell medium-6 ">
        <a style="text-align: center;" href="assets/2017.docx">Resume as doc</a>
    </div>
    <div class="cell auto medium-cell-block-y callout" >
        <pdf-viewer *ngIf="path == '/resume'" [src]="'assets/2017.pdf'" [render-text]="true" [show-all]="true" >hello</pdf-viewer>
    </div>
</div>
